<%- include("partials/header") -%>

<main>
  <div class="smoothie"><img src="/dottedmug.png" alt="A dotted mug" /></div>
  <div class="headings">
    <h2>Admin Page</h2>
    
    <a href="/smoothies" class="btn">View Recipies</a>
  </div>
</main>

<%- include("partials/footer") -%>
