<%- include("partials/header") -%>

<header>
  <div class="smoothie"><img src="/dottedmug.png" alt="A dotted mug" /></div>
  <div class="headings">
    <h2>Smoothie Recipies</h2>
    <h3>By xyz</h3>
    <a href="/smoothies" class="btn">View Recipies</a>
  </div>
</header>

<%- include("partials/footer") -%>
