<%- include("partials/header") -%>

<ul class="pecipes">
  <li>
    <img src="/cappuccino.png" alt="cappuccino" />
    <h4>Cappuccino</h4>
    <p>Some ingredients</p>
  </li>
  <li>
    <img src="/cappuccino.png" alt="cappuccino" />
    <h4>Cappuccino</h4>
    <p>Some ingredients</p>
  </li>
  <li>
    <img src="/cappuccino.png" alt="cappuccino" />
    <h4>Cappuccino</h4>
    <p>Some ingredients</p>
  </li>
  <li>
    <img src="/cappuccino.png" alt="cappuccino" />
    <h4>Cappuccino</h4>
    <p>Some ingredients</p>
  </li>
  <li>
    <img src="/cappuccino.png" alt="cappuccino" />
    <h4>Cappuccino</h4>
    <p>Some ingredients</p>
  </li>
</ul>

<%- include("partials/footer") -%>
